[View in Colaboratory](https://colab.research.google.com/github/RXV06021/basicPy/blob/master/pandas_datetime.ipynb)

# Pandas datetime

### 1. 時間が'YYYYmmddHHMMSSfff'として与えられた場合の処理

In [12]:
import pandas as pd
# import datetime は不要です。

# sampleデータです。
sample=[
        20180808121545000,
        20180808121545200,
        20180808121546400,
        20180808121745600]

df=pd.DataFrame(sample,columns={'date'})

# datetime型への変換処理は、pandasのto_datetimeを使います。
#df.date.to_datetimeではできないのが少しややこしい。

df.date=pd.to_datetime(df.date,format='%Y%m%d%H%M%f')
df

                     date
0 2018-08-08 12:15:00.450
1 2018-08-08 12:15:00.452
2 2018-08-08 12:15:00.464
3 2018-08-08 12:17:00.456

この様に、datetimeに変換する場合、pandasのto_datetimeという変換コマンドがあります.to_datetimeのオプションであるformatについてはmonth/dayを意味する'%m%d'が小文字で、時間を表hour/minute/secondが'%H%M%S'大文字になります。秒の少数点以下は'%f'（'%F'ではない）とします。

### 2. 時間が'YYYY/mm/ddTHH:MM:SS.fff'として与えられた場合

In [13]:
date_str=[
    '2018/08/08T12:15:00.000',
    '2018/08/08T12:15:00.200',
    '2018/08/08T12:15:45.200',
    '2018/08/08T12:17:45.600']
df=pd.DataFrame(date_str,columns={'dtime'})
df.dtime=pd.to_datetime(df.dtime,format='%Y/%m/%dT%H:%M:%S.%f')
df

                    dtime
0 2018-08-08 12:15:00.000
1 2018-08-08 12:15:00.200
2 2018-08-08 12:15:45.200
3 2018-08-08 12:17:45.600

書式：説明

%Y：４桁の年

%y：２桁の年

%m：２桁の月[01,02,...,12]

%d：日[2桁]

%H：時間[24時間]

%I：時間[12時間]

%M：分

%S：秒

%z：タイムゾーン UTCのずれの分[+HHMM]

%F：%Y-%m-%d のalias

%f：sub-second [0.000 sec]

## Python pandas データ選択処理をちょっと詳しく <後編>　　より
出典：http://sinhrks.hatenablog.com/entry/2014/11/18/003204

In [34]:
sample=[
        20180808121545000,
        20180808121545200,
        20180808121546400,
        20180808121745600]
date_str=[
    '2018/08/08T12:15:00.000',
    '2018/08/08T12:15:00.200',
    '2018/08/08T12:15:45.200',
    '2018/08/08T12:17:45.600']

df=pd.DataFrame({'dtimeIn' : sample,
                 'dtimeOut':date_str})
df.dtimeIn=pd.to_datetime(df.dtimeIn,format='%Y%m%d%H%M%f')
df.dtimeOut=pd.to_datetime(df.dtimeOut,format='%Y/%m/%dT%H:%M:%S.%f')

df.dtimeOut = df.dtimeOut.where(df.sig==False,'2018-08-08 00:00:00.000')
df

                  dtimeIn                    dtimeOut    sig
0 2018-08-08 12:15:00.450     2018-08-08 00:00:00.000   True
1 2018-08-08 12:15:00.452     2018-08-08 00:00:00.000   True
2 2018-08-08 12:15:00.464  2018-08-08 12:15:45.200000  False
3 2018-08-08 12:17:00.456  2018-08-08 12:17:45.600000  False